@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

@import "tailwindcss";

@theme {
  --default-font-family: "Lato", sans-serif;
}

:root {
  --main-background: #F4F7FF;
}

body {
  min-height: 100dvh;
  background-color: var(--main-background);
}

.css-hlgwow {
  display: flex !important;
  flex-wrap: nowrap !important;
}